.header-wrapper {
    margin: 0;
    padding: 0;
    //margin-bottom: 0.2%;
}


.logo {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 110px;
    margin-left: 50px;
    opacity: 0.5;
    @media (max-width: 855px) {
        width: 220px;
        height: 70px;
        margin-left: 0;
        margin-right: 25px;
    }
    @media (max-width: 660px) {
        width: 120px;
        height: 40px;
        margin-left: 15px;
        margin-right: 0;
    }
    @media (max-width: 550px) {
        width: 90px;
        height: 40px;
        margin-left: 0;
        margin-right: 25px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(207, 218, 234);
    @media (max-width: 855px) {
        justify-content: center;
        background-color: rgb(188, 202, 224);
    }

    @media (max-width: 660px) {
        justify-content: space-between;
    }
    @media (max-width: 550px) {
        justify-content: center;
    }
}

.scheme-selector {
    margin: 0;
    padding: 0;
}

.scheme-button {
    display: block;
}