.header-wrapper {
    margin: 0;
    padding: 0;
    margin-bottom: 1%;
}


.logo {
    margin: 0;
    padding: 0;
    width: 255px;
    height: 186px;
    margin-left: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(171, 196, 206);
}

.scheme-selector {
    margin: 0;
    padding: 0;
}

.scheme-button {
    display: block;
}