* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.container {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}


ul, li, p {
    margin: 0;
    padding: 0;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  min-height: 350px;
  max-height: 550px;
  object-fit: cover;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slider li {
    //display: none;
}

.slider li {
    list-style: none;
}

.sliderImg {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
 
.prev:hover, .next:hover {
    background-color: rgb(248, 245, 245);
    
}

.dot-style {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


  
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: $color_white;
    color: $glacier_color;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:$color_white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $glacier_color;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: $glacier_color;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      background-color: $glacier_color;
      color: $color_white;
      opacity: 0.8;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:$color_white;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}
.gallery-list li {
    width: 19%;
    height: 120px;
    margin-right: 1%;
    margin-bottom: 1%;
}

.gallery-picture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-hidden {
    display: none;
}

.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }