* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.container {
    width: 1024px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1065px) {
        width: 950px;
    }

    @media (max-width: 955px) {
        width: 850px;
    }

    @media (max-width: 855px) {
        width: 750px;
    }

    @media (max-width: 755px) {
        width: 650px;
    }

    @media (max-width: 660px) {
        width: 550px;
    }
    @media (max-width: 550px) {
        width: 450px;
    }
    @media (max-width: 449px) {
        width: 350px;
    }

}


ul, li, p {
    margin: 0;
    padding: 0;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  //min-height: 350px;
  max-height: 550px;
  object-fit: cover;
  position: relative;
  margin: auto;
  overflow: hidden;
  @media (max-width: 550px) {
    overflow: hidden;
}

}

.slider {
    @media (max-width: 550px) {
        max-height: 350px;
    }
    
}

.slider li {
    list-style: none;
}

.sliderImg {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
 
.prev:hover, .next:hover {
    background-color: rgb(248, 245, 245);
    
}

.dot-style {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropbtn {
    background-color: $color_white;
    color: $glacier_color;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    @media (max-width: 755px) {
        font-size: 16px;

    }
    @media (max-width: 550px) {
        font-size: 14px;
       
    }

}

.dropbtn:hover {
    opacity: 0.7;
}

.filter-arrow {
    margin-top: 0;
    font-size: 22px;
    padding: 4px;
    @media (max-width: 755px) {
        font-size: 14px;
    }
    @media (max-width: 550px) {
        font-size: 10px;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:$color_white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $glacier_color;
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: $glacier_color;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      background-color: $glacier_color;
      color: $color_white;
      opacity: 0.8;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:$color_white;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}
.gallery-list li {
    width: 19%;
    height: 120px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 1%;
    @media (max-width: 660px) {
        width: 17%;
        height: 120px;
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
    }
/*
    @media (max-width: 550px) {
        width: 17%;
        height: 120px;
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
    }
*/
    @media (max-width: 550px) {
        width: 32%;
        height: 80px;
        margin-right: 0.65%;
        margin-left: 0.65%;
        margin-bottom: 0.5%;
    }
    

}

.gallery-picture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-hidden {
    display: none;
}

.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: rgb(253, 251, 251, 0.25);
    margin: 2% auto 5%; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid $glacier_color;
    width: 60%; /* Could be more or less, depending on screen size */
    
    &--opacity {
        background-color: rgba(248, 245, 245, 0.8);
    }
    @media (max-width: 800px) {
        width: 70%;
    }
    @media (max-width: 680px) {
        width: 75%;
    }
    @media (max-width: 600px) {
        width: 85%;
    }
}
  
.imgPopUp {
    width: 95%;
    @media (max-width: 550px) {
        width: 93%;
    }   
}

.contactUsForm label{
    display: block;
}

input[type=text] {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid $glacier_color;
    //border-radius: 10%;
    background-color: rgba(120, 190, 236, 0.2);
    color: white;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: $color_shade_white;
}


label {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

textarea {
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    color: white;
    border: 2px solid $glacier_color;
    border-radius: 4px;
    background-color: rgba(120, 190, 236, 0.2);
    //resize: none;
  }

.submit-button {
    background-color: rgba(120, 190, 236, 0.2);
    border: 2px solid $glacier_color;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

  
.aboutUsHeader {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: $color_shade_black;
}

.textAboutUs {
    font-size: 18px;
    color: $color_shade_black;
    word-spacing: 9px;
    @media (max-width: 900px) {
        font-size: 16px;
    }
    @media (max-width: 870px) {
        font-size: 15px;
    }
    @media (max-width: 750px) {
        font-size: 14px;
    }
}

  /* The Close Button */
.close {
    color: $color_white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;

    &--dark {
        color: $color_shade_black;
    }
}
  
.close:hover,
.close:focus {
    color: $glacier_color;
    text-decoration: none;
    cursor: pointer;
}


.aboutUsLink {
    color: $color_shade_black;
    //text-decoration: none;
  }
/*

.weatherWidget .visualcrossing-wx-widget .title {
    font-size: 40px;
    color: red;
}
*/
.map {
    width: 95%;
    height:450px;
    @media (max-width: 550px) {
        width: 93%;
    }
}
.weather-wrapper {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 999;
    margin-top: 0;
    margin-bottom: 0;
    width: 130px;
    text-align: center;
    font-size: 18px;
    //border: 2px solid rgb(186, 227, 235);
    border-radius: 21%;
    background-color: rgba(255,255,255, 0.1);
    @media (max-width: 660px) {
        width: 80px;
    }
}

.weather-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(32, 33, 36, 0.7);

    @media (max-width: 660px) {
        font-size: 14px;
        font-weight: normal;
    }
}

.temperature-value {
    font-size: 22px;
    font-weight: bold;
    //color: rgb(32, 33, 36);
    color: rgba(32, 33, 36, 0.7);
    @media (max-width: 660px) {
        font-size: 14px;
        font-weight: normal;
    }

}

.temperature-description p{
    font-size: 18px;
    font-weight: normal;
    color: rgba(32, 33, 36, 0.7);
    @media (max-width: 660px) {
        font-size: 12px;
        font-weight: normal;
    }
}

.location {
    font-size: 17px;
    font-weight: bold;
    color: rgba(32, 33, 36, 0.7);
    @media (max-width: 660px) {
        font-size: 12px;
        font-weight: normal;
    }
}

.ctas {
    margin-top: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.ctas button {
    width: 32%;
    background-color: rgba(120, 190, 236, 0.2);
    border-radius: 20%;
    border: 2px solid $glacier_color;
    font-size: 18px;
    font-weight: bold;
    color: $glacier_color;
    padding: 16px 32px;
    text-decoration: none;
    // margin: 4px 5px;
    //margin-bottom: 10px;
    cursor: pointer;

    @media (max-width: 660px) {
        font-size: 16px;
        font-weight: normal;
    }

    @media (max-width: 550px) {
        font-size: 14px;
        font-weight: normal;
    }

}

.ctas button:hover,
.ctas button:active {
    box-shadow: 0px 0px 50px 0px $glacier_color;
}