body {
  font-family: "Raleway", sans-serif;
}

input::placeholder {
  font-family: "Noto Serif", serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer-sm-links {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
  background-color: #3f4b59;
  list-style: none;
}

.footer-sm-links a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 0;
  position: relative;
}

.twitter-footer::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url("assets/twitter-brands.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instagram-footer::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url("assets/instagram-brands.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fb-footer::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-image: url("assets/facebook-f-brands.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.google-footer {
  margin-left: 0;
  position: relative;
}

.google-footer::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("assets/google-plus-g-brands.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.tmp {
  color: red;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

.slider li {
  list-style: none;
}

.sliderImg {
  width: 320px;
  height: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #FFFFFF;
  color: #78beec;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #78beec;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #78beec;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #78beec;
  color: #FFFFFF;
  opacity: 0.8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #FFFFFF;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.gallery-list li {
  width: 19%;
  height: 120px;
  margin-right: 1%;
  margin-bottom: 1%;
}

.gallery-picture {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
}

.logo {
  margin: 0;
  padding: 0;
  width: 255px;
  height: 186px;
  margin-left: 50px;
  opacity: 0.5;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #cfdaea;
}

.scheme-selector {
  margin: 0;
  padding: 0;
}

.scheme-button {
  display: block;
}

/*# sourceMappingURL=style.css.map */
